#book-now {
	margin-top: 120px;
	margin-bottom: 20px;
	max-width: 1500px;
	width: 100%;
	height: 100%;
	float: left;
	margin-bottom: 20px;
	background: #fff;
}

#booking-div {
	max-width: 600px;
	margin:auto;
}

#booking-div input[type="text"], input[type="email"], .booking-select {
	height: 30px;
	width: 50%;
	margin: 10px 5px 0 5px;
}

#booking-div label{
	margin-left: 5px;
}

#booking-div h4{
	margin-bottom: 5px;
	margin-top: 5px;
}

.booking-date {
	margin-top: 10px;
	display: flex;
 	width: 50%;
}

.booking-date div {
	flex-grow: 1;
}

.datepicker {
	width: 100%;
}

.submit {
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	color: #fff;
	background: #1d6618;
	border: 2px #1d6618 solid;
}

.submit:hover {
	cursor: pointer;
}

.valid-field {
	border-color: #1d6618;
}

.invalid-field {
	border-color: red;
}

.roomSelect {
	height: 150px;
	width: 80%;
	margin: auto;
	padding: 10px;
	background: #ddd;
	margin-bottom: 10px;
}

.roomSelect > img {
	height: 100%;
	display: inline-block;
}

.roomSelect > h2 {
	margin: 0;
	display: inline-block;
}

.roomSelect div  {
	display: inline-block;
	float: right;
	height: 100%;
}

.roomSelect > p {
	height: 50%;
}

.roomSelect > form {
	position: relative;
	top: 0;
}

	@media screen and (max-width: 516px) {
	#booking-div input[type="text"], input[type="email"], .booking-select {
	width: 100%;
}

	.booking-date {
		width: 100%;
	}
}
