#footer-info {
  font-family: 'Open Sans', sans-serif;
  float: left;
  padding: 20px;
}

#footer-info p {
  line-height: 5px;
}

#footer-links ul {
  padding-top: 150px;
  float: right;
}

#footer-links li {
  list-style: none;
  display: inline-block;
  padding-right: 10px;
}

#footer-links a {
  color: #222;
  -webkit-transition: 0.3s;
  -webkit-o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

#footer-links a:hover {
    color: #7FFFD4;
