#gallery {
    padding-top: 10em;
    margin: auto;
    max-width: 900px;
    overflow:hidden;
    background-color: #ddd;
}

.img-frame {
    border: 2px solid #999;
    width:30%;
    height: 180px;
    display: inline-block;
    float: left;
    overflow:hidden;
    margin: 0em 1em 1em 0em;
}

.gallery-img {
    vertical-align: top;
    /*zoom:2;*/
    margin:auto;

    height: auto;
    max-height: : 100%;

    width:auto;
    max-width: 100%;
    cursor: pointer;
}

#lightbox {
    display: none;
    background-color: rgba(0, 0, 0, 0.9);
    position:fixed;
    z-index: 1;
    top:0;
    left:0;
    width:100%;
    height:100%;
    text-align: center;

}

#lightbox .fa {
    position: absolute;
    top: 50%;
    color:#fff;
    font-size: 2em;
    cursor: pointer;
}

#close {
    position: absolute;
    top:5%;
    right:5%;
}

#centerer {
    display: inline-block;
    height: 100%;
    z-index: 2;
    /*vertical-align: middle;*/
}

#big-img {
    margin-top:2em;
    display: inline-block;
    max-height: 80%;
}

.mySlides {display:none;}
