#gallery {
  margin:auto;
  max-width: 900px;
}

.gallery-img {
  max-height: 150px;
}

#lightbox {
    display: none;
    background-color: rgba(0, 0, 0, 0.9);
    position:fixed;
    z-index: 1;
    border: 2px black solid;
    top:0;
    left:0;
    width:100%;
    height:100%;
    text-align: center;

}

#centerer {
    display: inline-block;
    height: 100%;
    /*vertical-align: middle;*/
}

#big-img {
    display: inline-block;
    max-height: 80%;
    /*vertical-align: middle;*/
}
