body, html {
   padding: 0;
   margin: 0;   
}

#container {
   max-width: 1500px;
   width: 100%;
}

.inner-container {
   margin-left: 5%;
   margin-right: 5%;
   /*border: 1px solid #888;*/
}

#main-header {
   background: #08D66D;
   max-width: 1500px;
   width: 100%;
   height: 150px;
   float: left;
}

#main-menu {
   border: 1px solid #222;
   max-width: 1500px;
   width: 100%;
   height: 60px;
   float: left;
}

#main-menu li {
   display: inline-block;
}

#start-gallery {
   border: 1px solid #222;
   max-width: 1500px;
   width: 100%;
   height: 400px;
   float: left;
}

#main-content {
   border: 1px solid #222;
   max-width: 1500px;
   width: 100%;
   height: 550px;
   float: left;
}

#booking {
   background: #888;
   max-width: 1500px;
   width: 100%;
   height: 300px;
   float: left;
}

#main-footer {
   border: 1px solid #222;
   max-width: 1500px;
   width: 100%;
   height: 60px;
   float: left;
}