#hotel-info-article {
    max-height: 1500px;
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#hotel-info-article p {
    text-align: center;
}

#hotel-info-col {
    max-width: 1500px;
    width: 100%;
    padding: 5px 10px;
}

.hotel-column {
  text-align: center;
}

.cardbox {
  width: 90%;
  height: 352px;
  position: relative;
  perspective: 800px;
  margin: auto;
}

.card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.card figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card .back {
  transform: rotateY( 180deg );
  border: 1px solid;
  padding: 0 10px;
  text-align: left;
}

.card.flipped {
  transform: rotateY( 180deg );
}

.hotel-column img {
  cursor: pointer;
  width: 100%;
}

.hotel-column .front:hover {
  transform: scale(1.1);
  transition: all .2s ease-in-out;
}

.col_4_of_12:nth-child(4) {
  margin-left: auto;
}

.boknings-button {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.boknings-button a {
  border: 2px solid #222;
  padding: 5px 10px;
  text-decoration: none;
  -webkit-transition: 0.3s;
-webkit-o-transition: 0.3s;
-moz-transition: 0.3s;
transition: 0.3s;
}

.boknings-button a:hover {
  border: 2px solid #3CD632;
  color: #3CD632;
}
