/*All vit text*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    color: #222;
    text-transform: uppercase;
}

p, label {
    font-family: 'Opens Sans', sans-serif;
}

.invert {
	color: #fff;
}

.invert i, .invert h1, .invert h2 {
	color: #fff;
}

.invert i {
	font-size: 30px;
}

/*Huvudsidans titel*/

#site-heading {
	text-align: center;
	color: #222;
	line-height: 20px;
	margin-top: 10px;
}

#site-heading h1, #site-heading h2 {
	font-family: 'Yatra One', sans-serif;
}

#site-heading h1 {
	text-transform: uppercase;
	font-size: 30px;
}

#site-heading h2 {
	font-size: 25px;
}

#site-heading span {
	font-size: 40px;
}

/*Bokningens typsnits*/
#booking-heading h2 {
	margin-top: 80px;
	text-align: center;
}

.headings {
    max-height: 1500px;
    width: 100%;
    padding: 10px 10px;
}

.headings h2 {
    text-align: center;
    text-transform: uppercase;
}

#hotel-info-col h4 {
    text-transform: uppercase;
}

#main-footer span {
    color: #222;
    font-family: 'Open Sans', sans-serif;
}

/*HITTA OSS*/
.heading {
	margin-top: 120px;
	text-align: center;
}
