/*eftersom menyn har position fixed, hamnar elementen under. För att fixa det lägger man bara till en 'margin-top'*/
#room-main-content {
    background: red; /*kan vara smart att ha en färg för varje element så man lättare ser vad man gör för något.*/
    margin-top: 110px;
    float: left; /*alltid ha float left så att elementet hamnar nedanför*/
    max-width: 940px;
    padding: 0 5%;
}

#rumgallery {
	margin: 0;
	padding: 0;
	list-style: none;
}

#rumgallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #f5f5f5;
  color: #bdc3c7;
}





